.card {
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 30px;
    width: 250px;
}

img {
    border-radius: 75px;
    margin-bottom: 10px;
}

mat-card-subtitle {
    margin-bottom: 10px;
}